<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dietary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".into_BusyLife"></activity>
        <activity android:name=".activity_bow" />
        <activity android:name=".activity_boat" />
        <activity android:name=".activity_BusyLifeDetail" />
        <activity android:name=".activity_BusyLife" />
        <activity android:name=".adapter_message_one" />
        <activity android:name=".BMI" />
        <activity android:name=".activity_mon_selectSet" />
        <activity android:name=".activity_monday_detail2" />
        <activity android:name=".activity_preWorkout_detail" />
        <activity android:name=".activity_monday_detail" />
        <activity android:name=".activity_RegularLife2" />
        <activity android:name=".activity_RegularLife1" />
        <activity android:name=".mainLoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".UserAssiActivity" />
        <activity android:name=".FitnessAssiActivity" />
        <activity android:name=".NutritionAssiActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>